.user-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  font-size: 18px;
}

.user-info h2 {
  align-self: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.user-info p {
  margin-bottom: 10px;
  color: #e8dcb9;
}

.user-info .btn {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #1f2230;
  background: #f2b632;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold; 
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.user-info .btn .fa-sign-out-alt {
  margin-right: 10px;
}

.user-info  .btn:hover,
.user-info  .btn:focus {
    background: #f5cb5c;
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.8);
    outline: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
