* {
  box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html, 
body {
  background: #252839;
  color: #f2b632;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#root > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-main {
  flex: 1;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 10px 0;
}

@media (min-width: 1025px) {
  .page-main {
    margin-top: 130px;
  }
}
