.order {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px; 
  background: #1f2230;
  border: 2px solid #f2b632;
  border-radius: 5px;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.6);
}

.order img {
  width: 260px;
}

.order .details {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 15px;
  margin-top: 20px;
  padding: 0 10px;
}

.order-number,
.order-price {
  text-align: right;
}
